.form {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px;
  border: 1px solid #111;
}

.form-button {
  border: none;
  border: 1px solid #111;
  border-radius: 2px;
  background-color: rgb(33, 33, 255);
  color: #ffffff;
}

.form-button:hover {
  background-color: rgb(111, 111, 248);
}

.form-button:focus {
  background-color: rgb(111, 111, 248);
}

.form-text {
  border: 1px solid #111;
  border-radius: 4px;
}

.form-text::placeholder {
  color: #494848;
}